@import url("./overlay/highlight.css");

div.editor-overlay div.line * {
  display: inline-block;
}

div.editor-overlay {
  pointer-events: none;
  background-color: transparent !important;
  color: var(--fg);
  white-space: pre;
}

div.editor-overlay div.line * {
  color: var(--fg);
}

div.editor-overlay div.line div.linenr {
  position: absolute;
  left: -3em;
  opacity: 0.5;
}
