div.editor-overlay div.segment.iskey {
  color: var(--red);
}

div.editor-overlay div.segment.type-hex {
  color: var(--orange);
}

div.editor-overlay div.segment.type-number {
  color: var(--lime);
}

div.editor-overlay div.segment.type-boolean {
  color: var(--blue);
}

div.editor-overlay div.segment.type-unknown:not(.iskey) {
  color: var(--fg);
}

div.editor-overlay div.segment.isvar,
div.editor-overlay div.segment.issetter {
  color: var(--magenta) !important;
}

div.editor-overlay div.line.iscomment * {
  color: var(--comment) !important;
}
