div.editor-overlay div.segment.iskey {
  color: rgb(255, 91, 91);
}

div.editor-overlay div.segment.type-hex {
  color: rgb(230, 150, 0);
}

div.editor-overlay div.segment.type-number {
  color: rgb(73, 200, 73);
}

div.editor-overlay div.segment.type-boolean {
  color: rgb(78, 176, 176);
}

div.editor-overlay div.segment.type-unknown:not(.iskey) {
  color: rgb(255, 151, 255);
}
