@import url("./editor/overlay.css");

textarea.editor,
div.editor-overlay {
  box-sizing: border-box;
  resize: none;
  color: transparent;
  caret-color: #666;
  font-family: "Source Code Pro", monospace;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: visible;
  width: 100%;
  min-height: fit-content;
  padding: 10px;
}

div.editor-overlay {
  height: fit-content;
}

div.editor-wrapper {
  overflow-y: scroll;
  background-color: #fff;
  margin: 20px;
  margin-right: 0;
  padding: 10px;
  width: calc(100% - 40px);
  height: calc(100% - 135px);
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

div.editor-wrapper > div {
  position: relative;
  height: 100%;
}
