@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("./splitpanes.css");
@import url("./editor.css");
@import url("./content.css");
@import url("./statusbar.css");
@import url("./vars.css");
@import url("./topbar.css");
@import url("./variablepane.css");

div.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

div.app {
  background-color: var(--bg);

  transform: scale(0.9);
  transition: all 0.5s;
  border-radius: 20px;
  overflow: hidden;
}

div.app.done {
  transform: scale(1);
  border-radius: 0;
}

body {
  margin: 0;
  transition: none !important;
}

div.mainframe {
  flex-grow: 1;
  max-height: calc(100% - 60px);
}

* {
  outline: none !important;
  transition: all 0.3s;
}
