@import url("./splitpanes.css");
@import url("./editor.css");
@import url("./content.css");
@import url("./statusbar.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");

div#app {
  background-color: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

div.mainframe {
  flex-grow: 1;
  max-height: calc(100% - 80px);
}

* {
  outline: none !important;
}
