.default-theme.splitpanes--vertical > .splitpanes__splitter,
.default-theme .splitpanes--vertical > .splitpanes__splitter {
  border: none !important;
  background-color: #fff !important;
}

.default-theme.splitpanes--vertical > .splitpanes__splitter::before,
.default-theme .splitpanes--vertical > .splitpanes__splitter::before {
  background-color: #ddd !important; /* 
  margin-left: 0 !important; */
}
.splitpanes.default-theme .splitpanes__pane {
  background-color: #fff !important;
  position: relative;
}
