div.statusbar {
  background-color: var(--bg);
  border: var(--statusbar-bg) 1px solid;
  display: flex;
  gap: 10px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  color: var(--fg);
  font-size: 15px;
  font-family: "Source Code Pro", monospace;
  line-height: 30px;
  border-radius: 20px;
  box-shadow: 0 2.5px 7.5px #0008;
  position: absolute;
  width: calc(100% - 30px);
  left: 20px;
  bottom: 20px;
}

div.statusbar > * {
  flex-grow: 1;
}

div.statusbar div.right {
  display: flex;
  justify-content: end;
  gap: 5px;
}

div.statusbar div.right > button {
  font-size: 24px;
  color: var(--fg);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  margin: -5px 0;
  padding: 0;
}

div.statusbar div.right > button:hover {
  background-color: var(--button-bg);
}

div.statusbar div.right > button:active {
  background-color: var(--button-active-bg);
}

div.statusbar div.error,
div.statusbar div.fine {
  padding: 4px 10px;
  line-height: 20px;
  height: 30px;
  box-sizing: border-box;
  background-color: var(--error-bg);
  color: var(--error-fg);
  border-radius: 10px;
  max-width: fit-content;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.statusbar div.error *,
div.statusbar div.fine * {
  vertical-align: middle;
  line-height: 20px;
}

div.statusbar div.error::before,
div.statusbar div.fine::before {
  content: "cancel";
  font-family: "Material Icons Round";
  font-size: 18px;
  vertical-align: middle;
  margin-right: 10px;
}

div.statusbar div.fine {
  background-color: var(--ok-bg);
  color: var(--ok-fg);
}

div.statusbar div.fine::before {
  content: "check";
}
