div.statusbar {
  background-color: #e7e7e7;
  display: flex;
  gap: 10px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  color: #333;
  font-size: 15px;
  font-family: "Source Code Pro", monospace;
  line-height: 30px;
  /* margin: 20px;
  margin-top: 10px; */
  border-radius: 20px;
  box-shadow: 0 2.5px 7.5px #0008;
  position: absolute;
  width: calc(100% - 60px);
  left: 40px;
  bottom: 40px;
}

div.statusbar > * {
  flex-grow: 1;
}

div.statusbar div.right {
  display: flex;
  justify-content: end;
  gap: 5px;
}

div.statusbar div.right > button {
  font-size: 24px;
  color: #333;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  margin: -5px 0;
  padding: 0;
}

div.statusbar div.right > button:hover {
  background-color: #ccc;
}

div.statusbar div.error {
  padding: 5px 10px;
  line-height: 20px;
  box-sizing: border-box;
  background-color: rgb(255, 147, 147);
  border-radius: 10px;
  color: rgb(186, 28, 28);
  display: flex;
  gap: 10px;
  max-width: fit-content;
}

div.statusbar div.error::before {
  content: "cancel";
  font-family: "Material Icons Round";
  font-size: 18px;
}
