@import url("./topbar/tabs.css");
@import url("./topbar/right.css");

div.topbar {
  height: 60px;
  min-height: 60px;
  padding: 10px 20px;
  padding-right: 10px;
  box-sizing: border-box;
  color: var(--fg);
  background-color: var(--bg);
  font-family: "Poppins", sans-serif;
  border-bottom: var(--sec-bg) 1px solid;
  display: flex;
  gap: 10px;
  align-items: center;
}

div.topbar h3.header {
  margin: 0;
  margin-right: 10px;
}
